[Desktop Entry]
Name=Riech-O-Mat
GenericName=Riech-O-Mat Control Program
Comment=Software for controlling an interactive smelling machine
Exec=bash -c "cd /home/user/riech-o-mat/ && /home/user/riech-o-mat/riech-o-mat"
Icon=/home/user/riech-o-mat/riech-o-mat.svg
Terminal=false
Type=Application
StartupNotify=false
Categories=Science
